.container {
    max-width: 1350px;
    margin: auto;
}

.hero {
    color: white;
    font-size: 25px;
    max-width: 700px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: auto;
}

.arrow {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 50px;
    padding: 0px 2px 2px 2px;
    align-items: center;
}

.more {
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
    margin: 30px 0 0 0;
}

.more a {
    transition: .5s;
    background-color: #FF9900;
    padding: 10px 60px;
    align-items: center;
    border-radius: 30px;
    color: black;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.more a:hover{
    transform: translateY(-2px);
}

.forme {
    margin: 100px 0 40px 0;
}

.forme h1 {
    color: white;
    max-width: 400px;
}

.forme p {
    color: #ADADAD;
}

.eclipse {
    border: 1px solid;
    border-color: #FF9900;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.eclipseText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ADADAD;
    text-align: center;
}

.eclipseText h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

.eclipseText p {
    padding: 30px 0 0 0;
    font-size: 13px;
    color: #ADADAD;
    width: 250px;
}

.eclipseMain {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.sliderNone {
    display: none;
}

@media (max-width: 1200px) {
    .hero {
        font-size: 0.8rem;
        padding: 0 15px;
    }

    .forme {
        font-size: 0.8rem;
        padding: 0 15px;
    }

    .eclipseMain {
        display: none;

    }

    .sliderNone {
        display: block;
    }

    .container {
        max-width: 720px;

        align-items: center;
    }
    
    menu {
        display: none;
    }
}