.container {
    max-width: 1350px;
    margin: auto;
}

.mainTextTop {
    color: white;
    margin-bottom: 40px;
}

.mainTextTop2 {
    display: none;
    color: white;
    margin-bottom: 40px;
}

.main {
    display: flex;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
    max-width: 400px;
}

.itemText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.item img {
    width: 400px;
    height: 400px;  
}

@media screen and (max-width: 1200px) {

    .item img {
        width: 300px;
        height: 300px;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    
.mainTextTop2 {
    display: block;
    color: white;
    margin-bottom: 40px;
    text-align: center;
}

.mainTextTop {
    display: none;
}
}